<div class="row pt-1">
    <div class=" col-md-2 ms-5 align-content-center justify-content-center">
        <a class="btn btn-dark btn-outline-light ms-3 pt-3 pb-3 ps-1 pe-1 rounded-circle" href="https://github.com/jbmort/roadtrip-weather">GitHub</a>
        <p class="fw-light ms-3" style="color:rgb(217, 244, 253)">jbmort &copy;</p>
    </div>
    <div class="col mt-3" style="color:rgb(217, 244, 253)">
        <p class="m-0 fw-bold">Thank you for using the roadtrip planner. I hope it helped you plan out your next adventure.</p>
        <p class="m-0 fst-italic ">Open Source Content: OpenRouteService, OpenStreetMap, OpenLayers, OpenMateo </p>
        <p class="m-0 pb-4 fst-italic ">Icons: Sourced from Flaticon.com. Thank you to "The Icon Tree", "Kosonicon", "Alfredo Hernandez" and "Smashicons"</p>
    </div>
</div>
