@use '@angular/material' as mat;


@include mat.core();
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 16px;
  }
  
  .example-full-width {
    width: 50%;
    padding: 6px;
  }

  ::ng-deep .mat-autocomplete-panel {
    max-height: 300px !important;
    z-index: 9999 !important;
    position: relative;
  }