<div class="search full-opac">
<form class="search-form container">

<div class="row align-items-start ms-1">

    <mat-form-field class="col-md-4 col-sm-6 ms-2 p-1">
      <mat-label>Starting Point</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" [formControl]="start" (optionSelected)="onOptionSelected($event)">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (location of startingList | async; track location.title) {
          <mat-option  [value]="location">{{location.title}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="col-md-4 col-sm-6 p-1">
      <mat-label>Ending Point</mat-label>
      <input type="text" matInput [matAutocomplete]="autoEnding" [formControl]="ending" (optionSelected)="endOptionSelected($event)">
      <mat-autocomplete #autoEnding="matAutocomplete" [displayWith]="endDisplayFn">
        @for (location of endingList | async; track location.title) {
          <mat-option  [value]="location">{{location.title}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <button id="search" class="col-md-1 col-sm-3 justify-content-end mat-autocomplete-panel btn btn-md mt-3 p-1 ms-1" type="button" (click)="onSearch()" >Search</button>
  </div>
  <div class="row justify-content-end">
  </div>
  
  </form>
</div>