@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 16px;
    z-index: 9999 !important;
  }
  

  .example-full-width {
    width: 100%;
  }

  ::ng-deep .mat-autocomplete-panel {
    max-height: 300px !important;
    z-index: 9999 !important;
    position: relative;
  }

div.mat-mdc-form-field-focus-overlay.ng-tns-c508571215-0.ng-star-inserted .input-box{
    -webkit-box-shadow: 0px 0px 40px 7px rgba(102,102,102,0.65);
    -moz-box-shadow: 0px 0px 40px 7px rgba(102,102,102,0.65);
    box-shadow: 0px 0px 40px 7px rgba(102,102,102,0.65);
  }
