@use '@angular/material' as mat;


@include mat.core();
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 16px;
  }
  
  .example-full-width {
    width: 50%;
    padding: 6px;
  }

  ::ng-deep .mat-autocomplete-panel {
    max-height: 300px !important;
    z-index: 9999 !important;
    position: relative;
  }

  div.mat-mdc-text-field-wrapper:has(input.input-box){
    -webkit-box-shadow: 0px 0px 20px 2px rgba(102,102,102,0.65);
    -moz-box-shadow: 0px 0px 20px 2px rgba(102,102,102,0.65);
    box-shadow: 0px 0px 20px 2px rgba(102,102,102,0.65);
  }

  #search{
    background-color: #5E86AD;
     color: #f8fafa
  }

  #search:hover{
    color: white;
    background-color: #436586;
  }